@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.shadow{
  box-shadow: 1px 1px 8px 0px rgba(0,0, 0, 0.2);
}
.outline-none{
  outline: none;
}
.outline-none:focus{
  box-shadow: inset 0 -1px 0 #ddd;
}
.select-container{
  min-width: 217px;
}

/* Mode */
.color-light-bg{
  background-color: white;
}
.color-dark-bg {
  background-color: hsl(209, 23%, 22%);
}
.dark{
  color:hsl(209, 23%, 22%);
}
.light{
  color: white;
}
.color-very-dark-bg{
  background-color: hsl(207, 26%, 17%);
}