.home-container{
  background-color: #F0F0F0;
}
.shadow{
  box-shadow: 1px 1px 8px 0px rgba(0,0, 0, 0.2);
}
.outline-none{
  outline: none;
}
.outline-none:focus{
  box-shadow: inset 0 -1px 0 #ddd;
}
.select-container{
  min-width: 217px;
}
